/* Created by: Mr. Coxall
 * Created on: Sep 2020
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: mediumpurple;
}

h1 {
  background-color: rgb(59,26,102);
  color: hsl(266,62%,85%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #ad77e6;
}

ul {
  color: beige;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: purple;
  border: 1px solid white;
  text-align: left;
}

td {
  height: 2rem;
  background: rebeccapurple;
  border: 1px solid black;
  text-align: center;
}
